numpy==1.23.1
torch==2.0.1
torchaudio
torchvision
gym==0.23.1
sentencepiece>=0.1.91
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==1.8
protobuf==3.19.*
pyyaml
transformers
accelerate
peft
scipy
openai
matplotlib
colorama
termcolor
imageio
wandb
ipython
tqdm==4.64.0
datasets
bitsandbytes
einops